AddDefaultCharset UTF-8
#Options +MultiViews

AddType audio/x-mpegurl .m3u

RewriteEngine On
RewriteRule ^/*http-bind/$ http://chat.barbershop.wruv.org:5280/http-bind [P,L]

RewriteRule ^/*donate/*$ https://alum.uvm.edu/foundation/giving/online/ [R=301,L]


#this one is only temporary
RewriteRule ^/*service/streamtitle/*$ http://bossanova.wruv.org/service/streamtitle [P,L] 

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
